h1 {
    text-align: center;
}
img {
     margin-left: auto;
    margin-right: auto;
    display: block;
}
button {
     margin-left: auto;
    margin-right: auto;
    display: block;
     background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}